// The variables of a color
$primary_color_heading: #000000;
$primary_color_bg: #b2eeff;
$primary_color_hover: #e056ab;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover; // Adjust as needed
    background-position: center; // Adjust as needed
    background-repeat: no-repeat;
}

.navigation {
    background: $primary_color_bg;
    display: flex;
    justify-content: space-between;

    & .navigation_logo {
        font-size: 2rem;
        font-weight: 600;
        padding: 12px 12px;
        margin-left: 20px;
        text-transform: uppercase;
        color: $primary_color_heading; // Set the color for the logo

        &:hover {
            text-decoration: underline;
        }
    }

    .navigation_ul {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                list-style-type: none;
                padding: 12px 12px;
                margin-right: 20px;

                a {
                    text-decoration: none;
                    color: $primary_color_hover;
                    transition: 0.5s;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.slider {
  width: 300%; /* Adjust based on the number of slides */
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;

  .slide {
      flex: 1;
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease-in-out;

      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }
}

#slide1 { background-color: #5cd7f6; }
#slide2 { background-color: #4f1db5; }
#slide3 { background-color: #f06ad1; }
